.treeview ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 12px;
}

.tree-ui {
    padding: 0 !important;
    list-style-type: none;
}

.tree-ui li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.tree-ui .litext {
    padding-left: 10px;
    color: black !important;
    font-size: 16px;
}

.iconli {
    color: #007bff;
    font-size: 18px;
}

.arrowIcon {
    font-size: 18px;
}

.liselected {
    background-color: #a6c4e8;
}
